@import "functional_parts/variable.scss";
footer {
    font-size: 1.4rem;
    margin-top: 96px;
    font-weight: bold;
    background-color: $c_base;
    color: $c_main;
    .f_inner {
        max-width: 425px;
        width: 100%;
        padding: 40px 16px;
        margin: 0 auto;
        box-sizing: border-box;
        ul {
            margin-bottom: 18px;
            display: flex;
            justify-content: space-between;
        }
        li {
            position: relative;
            display: flex;
            &::after {
                content: "";
                width: 1px;
                height: 12px;
                display: block;
                background-color: #048e67;
                margin-left: 8px;
            }
            a {
                color: $c_main;
                text-decoration: none;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
                &:hover {
                    text-decoration: none;
                    color: $c_accent;
                }
            }
        }
        .f_copy {
            text-align: center;
        }
    }
}
@media (max-width: 768px) {
    footer {
        margin-top: 40px;
        .f_inner {
            max-width: 768px;
            ul {
                display: block;
            }
            li {
                margin-bottom: 12px;
                padding-bottom: 12px;
                border-bottom: 1px solid $c_accent;
                display: block;
                &::after {
                    display: none;
                }
            }
            .f_copy {
                text-align: left;
                line-height: 1.6;
            }
        }
    }
}
