@import "functional_parts/variable.scss";
body {
    font-family: "Noto Serif JP", serif;

    header {
        background-color: $c_base;
        nav {
            margin: 0 auto;
            // width: 1058px;
            width: auto;
            // padding: 24px 104px;
            padding: 24px 2vw;

            li {
                font-size: 1.6rem;
                cursor: pointer;
                margin-left: 40px;
                a {
                    color: $c_main;
                    text-decoration: none;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    &:hover {
                        text-decoration: none;
                        color: $c_accent;
                    }
                }
            }
            li.nav_window {
                img {
                    width: 17px;
                }
            }
        }
        .nav_in {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .h_ttl {
            margin-right: 24px;
            display: block;
            color: $c_main;
            transition: all 0.2s ease;
            text-decoration: none;
            // text-decoration: none;
            // background: linear-gradient(to right, #ffffff 50%, #a7d5c9 50%, #048e67);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // background-size: 200%;
            // background-position: 0%;
            // transition: background-position 400ms ease;
            &:hover {
                // background-position: -100%;
                color: #048e67;
            }
            .ver {
                display: block;
                font-size: 16px;
                margin-top: 8px;
                margin-left: 4px;
                font-size: 1.6rem;
                font-weight: bold;
                line-height: 1;

                // max-width: 113px;
                // width: 100%;
            }
        }
        .h_nav {
            ul {
                display: flex;
                flex-wrap: wrap;
            }
        }
        .h_nav_inside {
            .h_nav_hov {
                display: none;
                border-top: 2px solid $c_accent;
                margin-top: 12px;
                padding-top: 12px;
                line-height: 1.6;
            }
            .h_nav_tag_act,
            .h_nav_cat_act,
            .h_nav_window_act {
                display: flex;
                justify-content: flex-end;
            }
            .h_nav_window_act {
                padding-top: 0;
                width: 100%;
                margin-left: auto;
                margin-right: 0;
                box-sizing: border-box;
                color: $c_base;
                justify-content: flex-end;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
            }
        }
        .h_nav_window {
            form {
                display: flex;
                width: 100%;
                max-width: 306px;
                margin-top: 12px;
                background-color: $c_main;
            }
            label {
                width: 100%;
                outline: 0;
                border: none;
                :focus {
                    outline: 0;
                    border: none;
                }
            }
            input {
                padding: 12px;
                width: 100%;
                outline: 0;
                border: none;
                font-size: 1.2rem;
                font-weight: normal;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            input.search-submit {
                padding: 10px 12px;
                width: 17px;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        header {
            .head_wrapping {
                position: relative;
                margin-right: 0;
                .sp_nav_torigger {
                    width: 30px;
                    right: 0;
                    top: 20%;
                    position: absolute;
                    ul {
                        li {
                            border-bottom: 2px solid $c_accent;
                            margin-bottom: 7px;
                            transition: all 0.4s;
                            padding-bottom: 0px;
                            transition: all 0.4s;
                        }
                    }
                }
                .sp_nav_torigger_active {
                    ul {
                        li {
                            -webkit-transform: translateY(20px) rotate(-45deg);
                            transform: translateY(7px) rotate(-45deg);
                            &:nth-of-type(2) {
                                opacity: 0;
                            }
                            &:nth-of-type(3) {
                                -webkit-transform: translateY(-18px) rotate(225deg);
                                transform: translateY(-10px) rotate(225deg);
                            }
                        }
                    }
                }
            }
            .nav_in {
                display: block;
                .h_nav {
                    margin-top: 24px;
                    display: none;
                }
                ul {
                    display: block;
                }
            }
            nav {
                padding: 24px 24px;
                li {
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                    border-bottom: 1px solid $c_accent;
                    margin-left: 0px;
                    &:last-child {
                        border: none;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    .h_nav_window {
                        display: flex;
                        justify-content: space-between;
                        margin-left: 0;
                        margin-right: auto;
                        max-width: 765px;
                        width: 100%;
                        box-sizing: border-box;
                        background-color: #ffffff;
                        color: #343434;
                        form {
                            max-width: 765px;
                            margin-top: 0px;
                        }
                        input {
                            border: none;
                        }
                    }
                }
                li.nav_window {
                    display: none;
                }
            }
            .h_nav_inside {
                .h_nav_hov {
                    display: block;
                }
                .h_nav_tag {
                    display: none;
                }
                .h_nav_cat {
                    display: none;
                }
                .h_nav_window {
                    display: none;
                }
            }
        }
    }
}
