aside {
  max-width: 306px;
  width: 100%;
}
aside section {
  background-color: #343434;
  border: 2px solid #343434;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
}
aside section:not(:last-child) {
  margin-bottom: 24px;
}
aside section .box_ttl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
}
aside section .box_ttl span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 18px 11px;
  border-color: transparent transparent #048e67 transparent;
  transform: rotate(0deg);
}
aside section .box_ttl span.triangle_act {
  transform: rotate(180deg);
  display: block;
}
aside section .box_cont {
  border-top: 2px solid #048e67;
  padding: 12px;
}
aside section .box_cont img {
  width: 100%;
}
aside section .box_cont li {
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: 1.4rem;
}
aside section.window {
  background-color: #ffffff;
  color: #343434;
}
aside section.window .box_ttl {
  padding: 0px;
  cursor: auto;
}
aside section.window .box_ttl form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
aside section.window .box_ttl label {
  width: 100%;
}
aside section.window .box_ttl label input {
  padding: 12px;
  width: 100%;
  outline: 0;
  border: none;
}
aside section.window .box_ttl label input :focus {
  outline: 0;
  border: none;
}
aside section.window .box_ttl .search-submit {
  margin: 0px;
  padding: 11px;
  cursor: pointer;
  color: #ffffff;
  background-color: #343434;
  width: 17px;
  height: auto;
  border-style: none;
  position: relative;
}
aside section.category .box_cont,
aside .tag .box_cont {
  display: none;
}
aside section.category .box_cont li a,
aside .tag .box_cont li a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease;
}
aside section.category .box_cont li a:hover,
aside .tag .box_cont li a:hover {
  color: #048e67;
}
aside section.social .box_cont {
  background-color: #ffffff;
}
aside section.social .box_ttl span {
  width: auto;
  height: auto;
  border-style: none;
  overflow: hidden;
  display: flex;
  align-items: center;
}
aside section.social .box_ttl span a {
  float: left;
}
aside section.social .box_ttl span a:not(:first-child) {
  margin-left: 16px;
}
aside section.social .box_cont,
aside section.contact .box_cont,
aside section.heading .box_cont {
  background-color: #ffffff;
  border-top: none;
}
aside section.social .box_ttl,
aside section.contact .box_ttl,
aside section.heading .box_ttl {
  cursor: auto;
}
aside section.heading .box_cont ul {
  position: relative;
}
aside section.heading .box_cont ul::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  display: block;
  background-color: #343434;
}
aside section.heading .box_cont li {
  font-size: 14px;
  cursor: pointer;
  color: #343434;
  transition: all 0.2s ease;
}
aside section.heading .box_cont li:hover {
  color: #048e67;
}
aside section.heading .box_cont li:first-child, aside section.heading .box_cont li:last-child {
  position: relative;
}
aside section.heading .box_cont li:first-child::before, aside section.heading .box_cont li:last-child::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #343434;
  border-radius: 10px;
}
aside section.heading .box_cont li:first-child::before {
  top: 0;
}
aside section.heading .box_cont li:last-child {
  margin-bottom: 0;
}
aside section.heading .box_cont li:last-child::before {
  bottom: 0;
}
aside section.heading .box_cont li a {
  color: #343434;
  text-decoration: none;
}
aside section.heading .box_cont li.s_h2 {
  margin-left: 30px;
}
aside section.heading .box_cont li.s_h2:first-child::before, aside section.heading .box_cont li.s_h2:last-child::before {
  left: -34px;
}
aside section.heading .box_cont li.s_h3 {
  margin-left: 38px;
}
aside section.heading .box_cont li.s_h3:first-child::before, aside section.heading .box_cont li.s_h3:last-child::before {
  left: -42px;
}
aside section.heading .box_cont li.s_h4 {
  margin-left: 46px;
}
aside section.heading .box_cont li.s_h4:first-child::before, aside section.heading .box_cont li.s_h4:last-child::before {
  left: -50px;
}
aside section.heading .box_cont li.s_h5 {
  margin-left: 54px;
}
aside section.heading .box_cont li.s_h5:first-child::before, aside section.heading .box_cont li.s_h5:last-child::before {
  left: -58px;
}
aside section.heading .box_cont li a.s_heading_active {
  color: #048e67;
  position: relative;
}
aside section.heading .box_cont li a.s_heading_active::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #048e67;
  border-radius: 10px;
  top: 50%;
  transform: translate(0%, -50%);
}
aside section.heading .box_cont li.s_h2 a.s_heading_active::before {
  left: -34px;
  top: 50%;
  transform: translate(0%, -50%);
}
aside section.heading .box_cont li.s_h2.autoid_1 a.s_heading_active::before {
  top: 22%;
}
aside section.heading .box_cont li.s_h3 a.s_heading_active::before {
  left: -42px;
}
aside section.heading .box_cont li.s_h4 a.s_heading_active::before {
  left: -50px;
}
aside section.heading .box_cont li.s_h5 a.s_heading_active::before {
  left: -58px;
}
aside section.social {
  border: none;
}
aside .heading.fixed {
  position: fixed;
  top: 44px;
  max-width: 273px;
}

@media (max-width: 768px) {
  aside {
    max-width: 768px;
    margin-top: 40px;
  }
}/*# sourceMappingURL=side.css.map */