@import "../common/functional_parts/variable.scss";
section.card_01 {
    padding-top: 96px;
    display: block;
}
.large_card {
    margin-bottom: 96px;
    ul {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        padding: 0px 16px;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    li {
        max-width: 282px;
        width: 100%;
        max-height: 600px;
        height: 100%;
        margin: 0px 12px;
        a {
            background-image: url(../../img/common/topic00.jpg);
            background-size: cover;
            display: block;
            color: $c_main;
            padding-top: 600px;
            position: relative;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            -webkit-transition: 0.3s;
            transition: 0.3s;
            box-shadow: 0px 0px 13px 3px rgba(17, 17, 26, 0.18);
            &:hover {
                cursor: pointer;
                -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
        }
        a.l_c01 {
            background-image: url(../../img/common/topic01.jpg);
        }
        a.l_c02 {
            background-image: url(../../img/common/topic02.jpg);
        }
        a.l_c03 {
            background-image: url(../../img/common/topic03.jpg);
        }
        a.l_c04 {
            background-image: url(../../img/common/topic04.jpg);
        }
        dt {
            // font-size: 2.4rem;
            font-size: clamp(1.8rem, 2.0869vw, 2.4rem);
            font-weight: bold;
            padding: 30px 15px;
            position: absolute;
            top: 0px;
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        dd {
            font-size: clamp(1.6rem, 1.739vw, 2rem);
            // font-size: 2rem;
            padding: 32px 15px;
            position: absolute;
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.38);
            line-height: 1.6;
        }
    }
    li {
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

article.card_02 {
}
.small_card {
    max-width: 862px;
    width: 100%;
    margin-bottom: 32px;
    font-weight: bold;
    box-shadow: 0px 3px 6px #00000029;
    color: $c_base;
    &:hover {
        a {
            color: $c_main;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
        a.card_link {
            background: rgb(65, 136, 117);
            background: linear-gradient(90deg, rgba(65, 136, 117, 1) 0%, rgba(13, 71, 57, 1) 100%);
        }
    }
    a {
        text-decoration: none;
        color: $c_base;
    }
    a.card_link {
        padding: 24px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    &:not(:last-child) {
        margin-bottom: 32px;
    }
    .small_card_left {
        margin-right: 32px;
        img {
            width: 92px;
        }
    }
    .small_card_right {
        .top {
            ul {
                margin-bottom: 12px;
                display: flex;
            }
            li {
                font-size: 1.4rem;
                line-height: 1.6;
                &:not(:first-child) {
                    margin-right: 8px;
                }
            }
            li.date {
                margin-right: 24px;
            }
        }
        .bottom {
            p {
                font-size: 1.8rem;
                line-height: 1.6;
            }
        }
    }
}
@media screen and (max-width: 1150px) {
    .large_card {
        li {
            max-height: 47vw;

            a {
                padding-top: 47vw;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .top {
        .main_content {
            h2 {
                font-size: 2.8rem;
            }
        }
    }
    section.card_01 {
        padding-top: 40px;
    }
    .large_card {
        overflow: scroll;
        padding-bottom: 8px;
        margin: 0 16px 40px 16px;
        ul {
            width: 950px;
            padding: 0px 0px;
            justify-content: space-between;
        }
        li {
            max-height: 360px;
            width: 220px;
            height: 360px;
            a {
                padding-top: 360px;
            }
        }
    }
    .large_card::-webkit-scrollbar {
        width: 100%;
        height: 10px;
    }
    .large_card::-webkit-scrollbar-track {
        background-color: #e5e5e5;
        border-radius: 10px;
    }
    .large_card::-webkit-scrollbar-thumb {
        background-color: $c_accent;
        border-radius: 10px;
    }
    .small_card {
        max-width: 768px;
        .small_card_right {
            .top {
                li {
                    font-size: 1.3rem;
                }
            }
        }
        .bottom {
            a {
                font-size: 18px;
            }
        }
        a.card_link {
        }
        .small_card_right .top ul {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width: 500px) {
    .small_card {
        .small_card_right {
            .top {
                li.date {
                    width: 100%;
                    margin-right: 0px;
                }
            }
        }
    }
}
