@import "../common/functional_parts/variable.scss";
body.article {
    main {
        padding-top: 134px;
        .main_content.m_c_article {
            overflow: hidden;
            .article_heading {
                padding-bottom: 40px;
                border-bottom: 2px solid $c_base;
            }
            .article_heading_in {
                display: flex;
                align-items: center;
                .article_img {
                    margin-right: 32px;
                    img {
                        width: 70px;
                        height: 69px;
                    }
                }
                .article_inf {
                    .article_ttl {
                        font-size: 3.2rem;
                        line-height: 1.4;
                        font-weight: bold;
                    }
                }
            }
            .article_detail {
                font-size: 1.4rem;
                margin-top: 20px;
                margin-left: 105px;
                font-weight: bold;
                display: flex;
                .date {
                    margin-right: 12px;
                    padding-right: 12px;
                    border-right: 1px solid $c_base;
                }
                .cat {
                    margin-right: 12px;
                    padding-right: 12px;
                    border-right: 1px solid $c_base;
                }
                .tag {
                }
                ul {
                    display: flex;
                }
                li {
                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }
                a {
                    color: $c_base;
                    text-decoration: none;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    &:hover {
                        text-decoration: none;
                        color: $c_accent;
                    }
                }
            }
            .article_content {
                padding: 40px 24px 16px 24px;
                margin-top: 40px;
                box-shadow: 0px 0px 14px -9px #777777;
                border-radius: 10px;
                margin-top: 56px;
                p,
                img {
                    margin-bottom: 24px;
                }

                p {
                    font-size: 1.6rem;
                    line-height: 1.6;
                }
                h2 {
                    margin-bottom: 0;
                    font-size: 2.4rem;
                    font-weight: bold;
                    margin-top: -32px;
                    padding-top: 56px;
                    margin-bottom: 24px;
                }
                h3,
                h4,
                h5,
                h6 {
                    margin-top: -24px;
                    padding-top: 48px;
                    font-size: 2rem;
                    margin-bottom: 24px;
                    font-weight: bold;
                }
                img {
                    width: 100%;
                }
                // margin-top: 0px;
                // padding: 0;

                p {
                    // &::first-letter {
                    //     font-size: 3.2rem;
                    // }
                    &:first-child {
                        margin-top: 0px;
                    }
                }
                ul {
                    background-color: rgba(52, 52, 52, 0.1);
                    padding: 24px;
                    margin-bottom: 24px;
                    li {
                        font-size: 1.6rem;
                        line-height: 1.6;
                        word-break: break-all;
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
                }
                .cp_embed_wrapper {
                    margin-bottom: 24px;
                }
                .table_of_contents {
                    border: 2px solid $c_base;
                    width: 100%;
                    margin: 48px auto 32px;
                    box-sizing: border-box;
                    max-width: 480px;
                    .title {
                        font-size: 2rem;
                        font-weight: bold;
                        margin-bottom: 24px;
                        text-align: center;
                        background-color: $c_base;
                        color: #ffffff;
                    }
                    ul {
                        list-style: none;
                        padding: 0px 24px 24px 24px;
                        margin-bottom: 0px;
                        background-color: $c_main;
                    }
                    li {
                        font-size: 1.6rem;
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
                    a {
                        color: $c_base;
                    }
                }
            }
            .related_block {
                margin-top: 80px;
                .article_scroll {
                    overflow-x: scroll;
                    width: 100%;
                    position: relative;
                    height: 163px;
                    &::-webkit-scrollbar {
                        width: 100%;
                        margin-top: 10px;
                        height: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: #e5e5e5;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #048e67;
                        border-radius: 10px;
                    }
                }
                .article_scroll_in {
                    display: flex;
                    overflow: hidden;
                    position: absolute;
                    left: 0px;
                    .card_02 {
                        &:not(:first-child) {
                            margin-left: 32px;
                        }
                    }
                    .small_card {
                        max-width: 434px;
                        width: 434px;
                        margin: 3px;
                    }
                }
            }
        }
    }
    section.card_01 {
        padding-top: 80px;
        .large_card {
            max-width: 1160px;
            width: 100%;
            padding: 0px 16px;
            margin: 0 auto;
            box-sizing: border-box;
        }
        h2 {
            max-width: 1160px;
            width: 100%;
            margin: 0 auto 40px;
            font-size: 2.8rem;
            line-height: 1;
            font-weight: bold;
            display: inline-block;
            background: transparent linear-gradient(90deg, #048e67 0%, #343434 19%) 0% 0% no-repeat padding-box;
            color: transparent;
            -webkit-background-clip: text;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                margin-top: 8px;
                background-color: #343434;
            }
        }
        .large_card {
            ul {
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body.article {
        main {
            padding-top: 40px;
            .main_content.m_c_article {
                .article_heading_in {
                    .article_inf {
                        .article_ttl {
                            font-size: 2.8rem;
                        }
                    }
                }
                .related_block {
                    h2 {
                        font-size: 2.8rem;
                    }
                    .article_scroll_in .small_card {
                        max-width: inherit;
                        width: 294px;
                    }
                    .article_scroll {
                        height: auto;
                        padding-bottom: 8px;
                        .small_card {
                            height: auto;
                            .small_card_left {
                                img {
                                    width: 67px;
                                }
                            }
                        }
                    }
                    .article_scroll_in {
                        display: flex;
                        overflow: initial;
                        position: inherit;
                        width: 950px;
                        .card_02 {
                            &:not(:first-child) {
                                margin-left: 18px;
                            }
                        }
                    }
                }
            }
        }
        section.card_01 {
            margin: 0 16px 40px 16px;
            .large_card {
                padding: 0px 0px 8px 0px;
            }
        }
        section.card_01 {
        }
    }
}

@media screen and (max-width: 570px) {
    body.article {
        main {
            .main_content.m_c_article {
                .article_detail {
                    display: block;
                    .date {
                        margin-bottom: 12px;
                        margin-right: 0;
                        padding-right: 0;
                        border: none;
                    }
                    .cat {
                        margin-bottom: 12px;
                        border: none;
                    }
                }
            }
        }
    }
}
